extends ../<%= layoutDir %>/<%= layout %>

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - page = '<%= name %>'

block <%= layout %>
  p <%= name.toLowerCase() %> page
